@font-face {
    font-family: 'Rajdhani';
    src: url('../font/rajdhani/Rajdhani-Bold.woff2') format('woff2'),
        url('../font/rajdhani/Rajdhani-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../font/rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../font/rajdhani/Rajdhani-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../font/rajdhani/Rajdhani-Medium.woff2') format('woff2'),
        url('../font/rajdhani/Rajdhani-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Rubuik Font */
@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik/Rubik-SemiBold.woff2') format('woff2'),
        url('../font/rubik/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik/Rubik-Medium.woff2') format('woff2'),
        url('../font/rubik/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik/Rubik-Light.woff2') format('woff2'),
        url('../font/rubik/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik/Rubik-Regular.woff2') format('woff2'),
        url('../font/rubik/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: 'Rajdhani';
}

p {
    margin-bottom: 0;
}

.two-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 3.4em;
}

.cos_btn {
    background-color: transparent !important;
    font-size: 15px;
    color: #4C4C4C !important;
    text-transform: uppercase;
    font-family: 'Rajdhani';
    font-weight: 600;
    border: none;
    padding: 0;
    transition: 0.5s;
}

.cos_btn span {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #0094ee;
    font-size: 18px;
    border-radius: 50px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
}

.cos_btn:hover {
    margin-left: 10px;
}

/* Hero section start */
.hero-section {
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url(../../../public/img/home/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-section h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    color: #4C4C4C;
}

.hero-section p {
    color: #4C4C4C;
}

.custom-btn {
    font-family: 'Rajdhani';
    background-color: #0094ee;
    border: 1px solid #0094ee !important;
    outline: none;
}

.custom-btn:hover {
    background-color: #fff;
    color: #0094ee;
}

.product-slider {
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .hero-section h1 {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .hero-section h1 br {
        display: none;
    }
}

@media (max-width:425px) {
    .hero-section h1 {
        font-size: 26px;
        line-height: 26px;
    }

    .hero-section p {
        font-size: 14px;
    }
}


/* Hero section end */

.industries,
.service,
.relation,
.quality,
.scale,
.process,
.founder_msg {
    margin: 100px 0;
}

@media (max-width: 1200px) {

    .industries,
    .service,
    .relation,
    .quality,
    .scale,
    .process,
    .founder_msg {
        margin: 80px 0;
    }
}

@media (max-width: 768px) {

    .industries,
    .service,
    .relation,
    .quality,
    .scale,
    .process,
    .founder_msg {
        margin: 50px 0;
    }
}