@font-face {
    font-family: 'Rajdhani';
    src: url('../font/rajdhani/Rajdhani-Bold.woff2') format('woff2'),
        url('../font/rajdhani/Rajdhani-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../font/rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../font/rajdhani/Rajdhani-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../font/rajdhani/Rajdhani-Medium.woff2') format('woff2'),
        url('../font/rajdhani/Rajdhani-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Rubuik Font */
@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik/Rubik-SemiBold.woff2') format('woff2'),
        url('../font/rubik/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik/Rubik-Medium.woff2') format('woff2'),
        url('../font/rubik/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik/Rubik-Light.woff2') format('woff2'),
        url('../font/rubik/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik/Rubik-Regular.woff2') format('woff2'),
        url('../font/rubik/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: 'Rajdhani';
}

p {
    margin-bottom: 0;
}

.two-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 3.4em;
}

.cos_btn {
    background-color: transparent !important;
    font-size: 15px;
    color: #4C4C4C !important;
    text-transform: uppercase;
    font-family: 'Rajdhani';
    font-weight: 600;
    border: none;
    padding: 0;
    transition: 0.5s;
}

.cos_btn span {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #0094ee;
    font-size: 18px;
    border-radius: 50px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
}

.cos_btn:hover {
    margin-left: 10px;
}

/* Hero section start */
.hero-section {
    padding: 50px 0 0 0;
}

.hero_img {
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
    border: 3px solid #0094ee;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 140px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_img img {
    width: 90%;
}

.shadow-cos::after {
    content: "";
    position: absolute;
    background-image: url(../../../public/img/home/hero/shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100%;
    top: 0;
    z-index: 9;
    left: -1px;
}

.shadow-cos::before {
    content: "";
    position: absolute;
    background-image: url(../../../public/img/home/hero/shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100%;
    top: 0;
    z-index: 9;
    right: -1px;
    rotate: 180deg;
}

.hero-section h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    color: #2d2d2d;
}

.hero-section p {
    color: #4C4C4C;
}

.custom-btn {
    font-family: 'Rajdhani';
    background-color: #0094ee;
    border: 1px solid #0094ee !important;
    outline: none;
}

.custom-btn:hover {
    background-color: #fff;
    color: #0094ee;
}

.product-slider {
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .hero_img {
        width: 120px;
        height: 80px;
        margin: 8px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .hero-section h1 br {
        display: none;
    }
}

@media (max-width:425px) {
    .hero-section h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .hero-section p {
        font-size: 14px;
    }
}


/* section end */

.industries,
.service,
.relation,
.quality,
.scale,
.process,
.founder_msg,
.contact,
.business_section,
.material_we_use,
.support,
.quality_assurance,
.quality_tools,
.products_min {
    margin: 100px 0;
}

@media (max-width: 1200px) {

    .industries,
    .service,
    .relation,
    .quality,
    .scale,
    .process,
    .founder_msg,
    .contact,
    .business_section,
    .material_we_use,
    .support,
    .quality_assurance,
    .quality_tools,
    .products_min {
        margin: 80px 0;
    }
}

@media (max-width: 768px) {

    .industries,
    .service,
    .relation,
    .quality,
    .scale,
    .process,
    .founder_msg,
    .contact,
    .business_section,
    .material_we_use,
    .support,
    .quality_assurance,
    .quality_tools,
    .products_min {
        margin: 50px 0;
    }
}

/* ABOUT section */
.about_section {
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url(../../../public/img/about/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about_section h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
}

.about_section p {
    color: #ebebeb;
}


.business_section h2 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    color: #2d2d2d;
}

.business_section p {
    font-size: 15px;
    line-height: 28px;
    color: #4C4C4C;
}

.business_section .founder_name h5 {
    color: #0094ee;
}

.business_section .founder_name p {
    color: #4C4C4C;
}

.business_section .company_img {
    height: 100%;
    width: 100%;
    background-image: url(../../../public/img/about/business1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .about_section h1 {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .about_section p br {
        display: none;
    }

    .about_section p {
        font-size: 13px;
    }

    .business_section .company_img {
        height: 400px;
        width: 100%;

    }
}

/* Contact Section */
.map-vision {
    width: 100%;
    height: 450px;
    display: block;
}

.contact_box {
    top: 50%;
    left: 8%;
    background-color: #fff;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    transform: translate(0, -50%);
    padding: 20px;
    max-width: 600px;
}

.map-hero .company_contact p {
    font-size: 13px;
    color: #4C4C4C;
}

.map-hero .contact_def h4 {
    line-height: 25px;
    font-weight: 700;
    color: #0094ee;
}

.map-hero .contact_def ul li::marker {
    color: #0094ee;
}

.map-hero .contact_def ul li {
    color: #4C4C4C;
    font-size: 13px;
    margin-top: 8px;
}

.support .support_box {
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    padding: 15px 30px 30px 30px;
}

.support_box span {
    font-size: 45px;
    color: #0094ee;
}

.support .support_box h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    color: #4C4C4C;
}

.support .support_box p {
    font-size: 13px;
    line-height: 20px;
    color: #4C4C4C;
}

@media (max-width: 768px) {
    .contact_box {
        display: none;
    }

    .map-vision {
        height: 400px;
    }
}

/* Quality Section */
.quality_section {
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url(../../../public/img/quality/quality1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.quality_section h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
}

.quality_section p {
    color: #ebebeb;
}

.quality-assurance {
    width: 100%;
    height: 100%;
    background-image: url(../../../public/img/quality/quality-assurance.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.quality_assurance_def h2,
.tools_info h2 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    color: #2d2d2d;
}

.quality_assurance_def p,
.tools_info p {
    font-size: 15px;
    line-height: 28px;
    color: #4C4C4C;
}

.quality_tools_img {
    margin: 0 100px;
    border-radius: 10px;
    border: 5px solid #0094ee;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
}

.quality_tools_img img {
    width: 200px;
}


@media (max-width: 991px) {

    .quality-assurance {
        height: 300px;
        width: 100%;

    }
}

/* PRODUCT */
.product_section {
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url(../../../public/img/product/product.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.product_section h1 {
    font-weight: 900;
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
}

.product_section p {
    color: #ebebeb;
}

.products_heading h2{
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    color: #2d2d2d;
}

.product_card {
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.product_img{
    width: 100%;
    height: 200px;
}

.product_img img{
    object-fit: cover;
}

.product_card h5 {
    text-transform: uppercase;
    font-weight: 900;
    color: #2d2d2d;
}

.know_more{
    background-color: transparent !important;
    padding: 0;
    margin: 0;
    color: #0094ee !important;
    border: none;
    font-family: 'Rajdhani';
    font-weight: 900;
}

@media (max-width: 768px) {
    .product_section h1 {
        font-size: 35px;
        line-height: 35px;
    }
}

@media (max-width:425px) {
    .product_section h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .product_section p {
        font-size: 14px;
    }
}