.header {
    border-bottom: 1px solid #CCCCCC;
    background-color: #fff;
}

.header .menu-btn {
    background: none !important;
    border: none;
    color: #0094ee !important;
    font-size: 25px;
    padding: 0;
    margin: 0;
    display: none;
}

.menu {
    background-color: #fff;
    box-shadow: 0px 5px 8px 0px #c9c6c6;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul li {
    border-left: 1px solid #CCCCCC;
    text-align: center;
    width: 100%;
    font-family: 'Rajdhani';
    text-transform: uppercase;
    font-size: 14px;
}

.menu ul li:last-child {
    border-right: 1px solid #CCCCCC;
}

.menu ul li a {
    display: block;
    color: #2d2d2d;
    text-decoration: none;
    padding: 8px 0;
}

.menu ul li a.active {
    color: #0094ee;
    font-weight: 600;
}

.menu ul li a:hover {
    background-color: #0094ee;
    color: #ffff;
    transition: 0.5s;
}

.mobile-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu ul li {
    border-bottom: 1px solid #CCCCCC;
}

.mobile-menu ul li:last-child {
    border-bottom: none;
}

.mobile-menu ul a {
    text-decoration: none;
    display: block;
    color: #2d2d2d;
    text-decoration: none;
    padding: 8px 0;
    font-size: 14px;
    font-family: 'Rajdhani';
    text-transform: uppercase;
}

.mobile-menu ul a.active {
    color: #0094ee;
    font-weight: 600;
}

.mobile-menu-modal .modal-dialog {
    padding: 10px !important;
}

.mobile-menu-modal .modal-content {
    border-radius: 10px;
    height: auto;
}

.mobile-menu-modal .close-menu {
    background: none !important;
    border: none;
    color: #0094ee !important;
    font-size: 30px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .header {
        border-bottom: none;
        box-shadow: 0px 5px 8px 0px #c9c6c6;
    }

    .header .menu-btn {
        display: block;
    }

    .get-in-touch {
        display: none;
    }

    .logo {
        height: 60px;
    }
}

@media (max-width: 425px) {
    .logo img {
        width: 150px;
    }
}


.footer {
    background-color: #ffffff;
    padding: 20px 0;
    border-top: 1px solid #CCCCCC;
}

.on_social a {
    color: #0094ee;
}

.footer_def p{
    font-size: 13px;
    color: #4C4C4C;
    margin-top: 20px;
}

.footer_menu h5{
    line-height: 25px;
    font-weight: 700;
    color: #0094ee;
    margin-top: 12px;
}

.footer_menu ul{
    margin-top: 16px;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.footer_menu ul li a{
    font-family: 'Rajdhani';
    text-decoration: none;
    color: #4C4C4C;
    font-size: 16px;
    margin-top: 8px;
    display: inline-block;
    transition: 0.5s;
    
}

.footer_menu ul li a:hover{
    margin-left: 5px;
    color: #0094ee;
    font-weight: 600;
}

.our_promise{
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 0px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.18);
    background-color: #fff;
    border-radius: 10px;
    padding: 18px;
}

.our_promise h5{
    text-transform: uppercase;
    color: #2d2d2d;
    font-weight: 900;
    color: #4C4C4C;
}

.our_promise ul{
    padding: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.our_promise ul li::marker {
    color: #0094ee;
}

.our_promise ul li{
    font-size: 13px;
    margin-top: 5px;
    color: #4C4C4C;
}

.footer_contact_text{
    font-size: 13px;
    line-height: 20px;
    color: #4C4C4C;
}

@media (max-width: 425px) {
    .logo_section img {
        width: 190px;
    }
    .footer_def p{
        margin-top: 10px;
    }

    .footer_def img{
        width: 150px;
    }

    .footer_menu ul{
        margin-top: 10px;
    }
}